/************************************************************************************************************************/
/**************************************************** DEFAULT SETTING ****************************************************/
/************************************************************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 10px;
    text-rendering: optimizeLegibility;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}



/************************************************************************************************************************/
/*************************************************** REPEATING TWEAKS ***************************************************/
/************************************************************************************************************************/

/********************************************************* GAPS *********************************************************/

.gap-20 {
    height: 2rem;
    background-color: #073f5d;
}


/********************************************************* ROWS *********************************************************/

.row-1149 {
    max-width: 1149px;
}


/********************************************************* BUTTON *********************************************************/

.btn {
    padding: 1.5rem 4.5rem;
}

.btn-submit {
    border: none;
    text-shadow: none !important;
    font-family: 'Playfair Display';
    color: #7a7e83;
    background-color: #ffffff;
    font-size: 15px;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    transition: all ease .3s;
}

.btn-submit:hover {
    color: #fff;
    background-color: #073f5d;
}



/************************************************* SOCIAL LOGO HOVER COLOR *************************************************/

.fa-facebook-f:hover,
.fa-facebook-f:active {
    color: #1977f3;
}

.fa-instagram:hover,
.fa-instagram:active {
    color: #8a3ab9;
}

.fa-linkedin-in:hover,
.fa-linkedin-in:active {
    color: #0A66C2;
}

.fa-whatsapp:hover,
.fa-whatsapp:active {
    color: #0A66C2;
}

.fa-twitter:hover,
.fa-twitter:active {
    color: #00acee;
}

.fa-pinterest:hover,
.fa-pinterest:active {
    color: #c8232c;
}

.fa-youtube:hover,
.fa-youtube:active {
    color: #FF0000;
}



/************************************************************************************************************************/
/******************************************************** SOCIAL ********************************************************/
/************************************************************************************************************************/

.social-section {
    border-bottom: #f0ede8 solid 1px;
}

.social-icon-list {
    float: right;
    padding: 1rem;
}

.icon-item {
    display: inline-block;
}

.social-icon {
    font-size: 1.7rem;
    color: #54595f;
}

.icon-item a {
    padding: 1rem;
}


/**************************************************** NAVIGATION BAR ****************************************************/

.nav-logo {
    max-width: 228px;
}

.main-nav {
    float: right;
}

.main-nav li {
    display: inline-block;
    padding: 2rem 0;
}

.main-nav li a {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 2px;
    color: #7a7e83;
    padding: 2rem 1.5rem;
    transition: all ease .3s;
}

.main-nav li a:hover,
.main-nav li a:active,
.nav-perma-border {
    border-bottom: #7a7e83 solid 3px;
}

nav {
    border-bottom: #f0ede8 solid 1px;
}

.container-planning-heading {
    margin: 7rem 0;
}

.row-1140 {
    max-width: 1140px;
}

.planning-heading-box {
    text-align: center;
    padding: 10px;
}

.planning-heading-text {
    color: #f0ede8;
    font-size: 11.2rem;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
}



/************************************************************************************************************************/
/******************************************************** LOGIN ********************************************************/
/************************************************************************************************************************/

.section-login {
    background-color: #f0ede8;
    padding: 10rem 0;
}

.row-1140 {
    max-width: 1140px;
}

.label-text {
    display: block;
    font-weight: 400;
    font-family: 'Playfair Display';
    margin: 15px 0 10px 0;
    color: #717073;
    font-size: 1.6rem;
}

.contact-input {
    border: 1px solid #eee !important;
    font-family: 'Playfair Display';
    color: #717073;
    font-size: 18px;
    padding: 10px;
    background-color: #fff !important;
    /* margin-top: 15px; */
    width: 100%;
}

.submit-btn-area {
    margin-top: 2rem;
}



/************************************************************************************************************************/
/******************************************************** FOOTER ********************************************************/
/************************************************************************************************************************/

footer {
    padding: 10rem 0;
    background-color: #073f5d;
}

.container-footer {
    text-align: center;
}

.footer-image-div {
    width: 224px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.footer-logo-image {
    max-width: 100%;
}

.container-footer-link {
    padding: 1rem;

}

.footer-link-list li {
    display: inline-block;
    margin-right: 2rem;
}

.footer-link-list li a {
    font-size: 1.5rem;
    color: #fff;
    padding: 1.3rem 0;
    margin: 0 1.2rem;
    font-family: "Oswald", Sans-serif;
    letter-spacing: 2px;
}


/**************************************************** FOOTER SOCIAL LINK ****************************************************/

.container-social-link {
    padding: 1.5rem;
}

.footer-social-list li {
    display: inline-block;
}

.footer-social-list li a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 1.2rem;
    padding: 0.5rem 0;
}

.container-footer-copyright {
    margin: 1rem 0;
}

.copyright-para {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 2px;
}